## NYC_COV19

In [80]:
%run data.py

In [83]:
a = fetchData(nyc_his_age_url)
a.head(3)

,timestamp,type,ages_0_17,ages_18_44,ages_45_64,ages_65_74,ages_75_older,unknown,total
0,2020-03-22T13:54:00Z,deaths,0,0,17,12,34,0,63
1,2020-03-22T21:30:00Z,cases,300,4965,3519,1150,825,5,10764
2,2020-03-23T13:35:00Z,cases,323,5704,4069,1308,930,5,12339

In [84]:
spark = current_CovData()

+--------------------+------+-------------+------------------------------+---------------------+--------------------------+
|           test_date|county|new_positives|cumulative_number_of_positives|total_number_of_tests|cumulative_number_of_tests|
+--------------------+------+-------------+------------------------------+---------------------+--------------------------+
|2020-05-02T00:00:...| Bronx|          466|                         38916|                 2857|                     99606|
|2020-05-02T00:00:...| Kings|          564|                         46839|                 3804|                    123938|
+--------------------+------+-------------+------------------------------+---------------------+--------------------------+
only showing top 2 rows

In [ ]:
# show
wjeijwjeiwjeiwijejiw